
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.game-board {
  width: 100%;
  height: 450px;
  /* border: 2px solid #000; */
  position: relative;
  overflow: hidden;
  /* background-image: url('/background.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(9, 85, 85);
}

.shark-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shark {
  width: 200px; /* Adjust the size as needed */
  height: auto;
}

.word-overlay {
  position: absolute;
  font-size: 18px;
  color: rgb(0, 0, 0); /* Ensure the text is visible on the shark image */
  font-weight: bold;
}

.inputs{
  border-radius: 50px;
  border-color: antiquewhite;
  height: 40px;
  width: 200px;
  margin-top: 10px;

}